# Xcode
.DS_Store
*/xcuserdata/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
build/
DerivedData/
*.xcuserstate
*.xcuserdatad

# Swift Package Manager
Packages/
Package.resolved
.package

# Others
*.swp
*~
